/* Style général du conteneur */
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: Poppins;
}

.container {
  width: 50%;
  margin: 100px auto;
  /* margin-top: 100px; */
  text-align: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style du label */
label {
  display: block;
  margin-bottom: 10px;
}

/* Style de l'input et du bouton pour les centrer */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0dff00;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #15b300;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center; /* Centrage du texte à l'intérieur du div */
}

.error {
  color: black;
  background-color: #0dff00;
  border-radius: 5px;
  display: inline-block; /* Transformer le div en élément en ligne pour centrer horizontalement */
  margin: 0 auto; /* Auto-margin pour centrer horizontalement */
}
