/* Style général */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
    font-family: Poppins;
}
.profile{
    max-width: 50%;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h1 {
    text-align: center;
}

/* Style du formulaire */
form {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 20px;
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0dff00;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 320px;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #15b300;
}


/* Style du tableau */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10pz;
}

/* Style des cellules du tableau */
table th, table td {
    border: none; /* Bordure plus fine pour les cellules */
    padding: 6px; /* Rembourrage plus petit */
}

/* Style de l'en-tête du tableau */
table th {
    background-color: #0dff00;
}

/* Style des lignes impaires du tableau */
table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Style du survol de la souris sur les lignes du tableau */
table tbody tr:hover {
    background-color: #e9e9e9;
}

.historique h1{
    margin-bottom: 50px;
    color: #45d62e;
}