@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
  font-family: Poppins;
}

.product-details h2 {
  font-size: 28px;
  margin-top: 0;

}

.image-description {
  display: flex; 
  justify-content:space-around;
  margin-bottom: 20px;
}

.image-container {
  margin-left: 200px;
  margin-right: 20px;
}

.image-container img {
  max-width: 50%;
}


#product-image {
  max-width: 400px;
  height: auto;
  border-radius: 8px;

}

.info-container {
  display: block;
  margin-left: 40px;
  flex-direction: column;
}

.price,
.quantity {
  margin: 5px 0;

}

.description-container h4 {
  margin: 5px 0;
}

.description {
  line-height: 1.6;
}

/* Styles pour le bouton de retour */
.image-buttons {
  text-align: center;
}

.btnback {
  background-color: #0dff00;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.btnback:hover {
  background-color: #15b300;
}
