/* Style du tableau des produits dans le panier */
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
  font-family: Poppins;
}

.table-conrtainer{
  border-radius: 50px;
}
.table1 {
  margin: 80px auto;
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.table1 th,
.table1 td {
  border: none;
  padding: 8px;
  text-align: center;
}

.table1 th {
  background-color: #f2f2f2;
}

.table1 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table1 tr:hover {
  background-color: #f5f5f5;
}


.rowQuantity{
  width: 150px;
}

.imgpanier {
  max-width: 100px; /* Ajuster la taille de l'image */
  height: auto;
  border-radius: 5px;
}

.btnremove {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btnremove:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
  margin-top: 5px;
  background: rgb(202, 193, 193);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  transform: scale(1.1);
} */

/* button:active {
  transform: scale(0.9);
} */

input[type="number"] {
  margin-right: 5px;
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}

.btnback {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #45d62e;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  z-index: 1;
}

.btnback a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.gopayment a {
  text-decoration: none;
  color: black;
}
.btnback,
.gopayment {
  width: 150px;
  height: auto;
  color: white;
}

.btnback:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btnback:active {
  transform: scale(0.9);
}

.total-amount {
  font-size: 20px;
  font-weight: bold;
  color: orangered;
}

.no-product-message {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.Noproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 400px; /* Ajuster cette largeur si nécessaire */
}

.Noproduct img {
  max-width: 100%;
  height: auto;
}

/* CSS pour les boutons d'ajout et de soustraction de la quantité */
.quantiteplus,
.quantiteless {
  border-radius: 50%; /* Pour donner une forme circulaire */
  border: none;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.quantiteplus:hover,
.quantiteless:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}

/* CSS pour le span affichant la quantité */
.spanquantity {
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
  line-height: 20px;
}

.error-message {
  background-color: #ff9999;
  color: #cc0000;
  padding: 10px;
  text-align: center;
  display: block; /* Assurez-vous que le message est visible */
  transition: opacity 0.5s ease; /* Ajoute une transition douce */
}

/* styledetails.css */

/* Styles pour le conteneur du tableau */
.total-panier {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right; /* positionnement à droite */
  justify-content: space-between;
}

/* Styles pour le tableau */
.total-panier-table {
  width: 100%;
  border-collapse: collapse; /* Fusionne les bordures du tableau */
  border: none; /* Supprime toutes les bordures */
}

/* Styles pour les cellules d'en-tête */
.total-panier-table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black; /* Ajoute uniquement la bordure du bas */
}

/* Styles pour les cellules de données */
.total-panier-table td {
  padding: 10px;
  border-bottom: 1px solid black; /* Ajoute uniquement la bordure du bas */
}

/* Styles pour le bouton */
.gopayment {
  background-color: #45d62e; /* couleur verte */
  color: white;
  border: none;
  padding: 15px 30px; /* ajustement de la taille */
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: auto;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 14px; /* taille du texte */
  font-family: Arial, sans-serif; /* police du texte */
  font-weight: bold; /* poids du texte */
  text-transform: uppercase; /* en majuscules */
  position: relative; /* position relative */
}

.gopayment:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
